.dashboard {
  display: flex;
  flex-direction: row;
}
.sideNav {
  width: 20%;
  background-color: #252c48;
  padding: 10px;
  margin: 20px;
  height: 500px;
  border-radius: 30px;
}

.body {
  width: 80%;
  border: 1px solid #252c48;
  margin: 20px;
  background-color: #252c48;
  height: 75vh;
}
