.updatepassword {
  display: flex;
  flex-direction: row;
}
.sideNav {
  width: 20%;
  background-color: #252c48;
  padding: 10px;
  margin: 20px;
  height: 500px;
  border-radius: 30px;
}

.body {
  width: 80%;
}
.body > form {
  padding-top: 200px;
  padding-left: 300px;
  padding-right: 300px;
}
